
// Bootstrap Functions
@import "argon-dashboard/bootstrap/functions";

// Custom Variables
@import "argon-dashboard/custom/variables";

// Theme Variables
@import "argon-dashboard/variables";

// Bootstrap Core
@import "argon-dashboard/bootstrap/bootstrap";

// Theme Core
@import "argon-dashboard/theme-pro";

// Custom Variables
@import "argon-dashboard/custom/styles";

// Texts Fonts
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Nunito+Sans:opsz,wght@6..12,600&family=Roboto+Condensed:wght@300&display=swap');


.btn-outline-primary{
  color: #2dce89 !important;
  border-color: #2dce89 !important;
}

.btn-primary{
  background-image: linear-gradient(310deg, #2dce89 0%, #2dcecc 100%) !important;
  color: #fff !important;
}

.baixa-color > button  {
  background-color: #F3F3F7 !important;
  color: #66666B !important;
  border-radius: 10px !important;
  padding: 10px 47px !important;
}

.media-color > button  {
  background-color: #FFF2D2 !important;
  color: #FFC01E !important;
  border-radius: 10px !important;
  padding: 10px 47px !important;
}

.alta-color > button  {
  background-color: #FFEBEE !important;
  color: #FF4848 !important;
  border-radius: 10px !important;
  padding: 10px 47px !important;
}

.baixa-color-menu  {
  background-color: #F3F3F7 !important;
  color: #66666B !important;
  border-radius: 10px !important;
}

.media-color-menu  {
  background-color: #FFF2D2 !important;
  color: #FFC01E !important;
  border-radius: 10px !important;
}

.alta-color-menu  {
  background-color: #FFEBEE !important;
  color: #FF4848 !important;
  border-radius: 10px !important;
}

.pendente-color-menu  {
  color: #FF4848 !important;
  border-radius: 10px !important;
  min-width: 95px !important;

}

.ajustado-color-menu  {
  color: #56C261 !important;
  border-radius: 10px !important;
  min-width: 95px !important;
}

.bar-separator{
  width: 100%;
  height: 5px;
  opacity: 25%;
  background-color: #bdbdbd !important;
}

.card-pendente > button{
  background-color: #FFEBEE;
  padding: 7px;
  border-radius: 5px;
  font-family: 'Nunito Sans', sans-serif !important;
  color: #FF4848 !important;
  text-align: center;
  font-size: 14px !important;
  font-style: normal !important;
  border: none !important;
  font-weight: 600 !important;
}

.card-ajustado > button{
  background-color: #E7F6E8;
  padding: 7px;
  border-radius: 5px;
  font-family: 'Nunito Sans', sans-serif !important;
  color: #56C261 !important;
  text-align: center;
  font-size: 14px !important;
  font-style: normal !important;
  border: none !important;
  font-weight: 600 !important;
}

.card-ajustado:hover >button{
  background-color: unset !important;
}

.card-pendente:hover >button{
  background-color: unset !important;
}

.card-baixa{
  border: 1px solid var(--preto-200, #E4E4EA);
  background: var(--preto-100, #F3F3F7);
  color: #66666B !important;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'Nunito Sans', sans-serif !important;
  text-align: center;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 600 !important;
}

.card-ganho{
  background-color: #E8F7E9 !important;
  color: #41BF43 !important;
  border: 1px solid var(--verde-light-100, #C9ECC8);
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'Nunito Sans', sans-serif !important;
  text-align: center;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 600 !important;
}

.card-custo{
  background-color: #FFE9ED !important;
  color: #FE3232 !important;
  border: 1px solid var(--vermelho-light-100, #FFC9CE);
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'Nunito Sans', sans-serif !important;
  text-align: center;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 600 !important;
}


.card-media{
  border: 1px solid var(--laranja-light-100, #FFDFB6);
  background: var(--laranja-light-50, #FFF2E2);
  color: var(--laranja-light-500, #FF952B);
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'Nunito Sans', sans-serif !important;
  text-align: center;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 600 !important;
}

.card-alta{
  border: 1px solid var(--vermelho-light-100, #FFC9CE);
  background: var(--vermelho-light-50, #FFE9ED);
  color: #FE3232 !important;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'Nunito Sans', sans-serif !important;
  text-align: center;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 600 !important;
}
