
// Bootstrap Functions
@import "argon-dashboard/bootstrap/functions";

// Custom Variables
@import "argon-dashboard/custom/variables";

// Theme Variables
@import "argon-dashboard/variables";

// Bootstrap Core
@import "argon-dashboard/bootstrap/bootstrap";

// Theme Core
@import "argon-dashboard/theme-pro";

// Custom Variables
@import "argon-dashboard/custom/styles";

// Texts Fonts
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Nunito+Sans:opsz,wght@6..12,600&family=Roboto+Condensed:wght@300&display=swap');


.btn-outline-primary{
  color: #2dce89 !important;
  border-color: #2dce89 !important;
}

.btn-primary{
  background-image: linear-gradient(310deg, #2dce89 0%, #2dcecc 100%) !important;
  color: #fff !important;
}

.baixa-color > button  {
  background-color: #F3F3F7 !important;
  color: #66666B !important;
  border-radius: 10px !important;
  padding: 10px 47px !important;
}

.media-color > button  {
  background-color: #FFF2D2 !important;
  color: #FFC01E !important;
  border-radius: 10px !important;
  padding: 10px 47px !important;
}

.alta-color > button  {
  background-color: #FFEBEE !important;
  color: #FF4848 !important;
  border-radius: 10px !important;
  padding: 10px 47px !important;
}

.baixa-color-menu  {
  background-color: #F3F3F7 !important;
  color: #66666B !important;
  border-radius: 10px !important;
}

.media-color-menu  {
  background-color: #FFF2D2 !important;
  color: #FFC01E !important;
  border-radius: 10px !important;
}

.alta-color-menu  {
  background-color: #FFEBEE !important;
  color: #FF4848 !important;
  border-radius: 10px !important;
}

.bar-separator{
  width: 100%;
  height: 5px;
  opacity: 25%;
  background-color: #bdbdbd !important;
}

.card-pendente{
  background-color: #FFEBEE;
  padding: 7px;
  border-radius: 5px;
  font-family: 'Nunito Sans', sans-serif !important;
  color: #FF4848 !important;
  text-align: center;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 600 !important;
}

.card-ajustado{
  background-color: #E7F6E8;
  padding: 7px;
  border-radius: 5px;
  font-family: 'Nunito Sans', sans-serif !important;
  color: #56C261 !important;
  text-align: center;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 600 !important;
}

.card-baixa{
  background-color: #F3F3F7 !important;
  color: #66666B !important;
  padding: 7px 15px;
  border-radius: 5px;
  font-family: 'Nunito Sans', sans-serif !important;
  text-align: center;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 600 !important;
}

.card-media{
  background-color: #FFF2D2 !important;
  color: #FFC01E !important;
  padding: 7px 15px;
  border-radius: 5px;
  font-family: 'Nunito Sans', sans-serif !important;
  text-align: center;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 600 !important;
}

.card-alta{
  background-color: #FFEBEE !important;
  color: #FF4848 !important;
  padding: 7px 15px;
  border-radius: 5px;
  font-family: 'Nunito Sans', sans-serif !important;
  text-align: center;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 600 !important;
}
